{% load navbar %}

{% block navbar %}
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-links" aria-controls="navbar-links" aria-expanded="false" aria-label="toggle navigation"></button>
    <div class="collapse navbar-collapse" id="navbar-links">
      <ul class="navbar-nav">
        <!--  Standard pages  ------------------------------------------------>
        {% url 'pages:home' as home_page %}
        <li class="nav-item{% if request.path == home_page %} active{% endif %}">
          <a class="nav-link" href="{{ home_page }}">Home</a>
        </li>
        {% url 'pages:contact' as contact_page %}
        <li class="nav-item{% if request.path == contact_page %} active{% endif %}">
          <a class="nav-link" href="{{ contact_page }}">Contact</a>
        </li>
        {% url 'pages:about' as about_page %}
        <li class="nav-item{% if request.path == about_page %} active{% endif %}">
          <a class="nav-link" href="{{ about_page }}">About Us</a>
        </li>

        <!--  Dynamic links  ------------------------------------------------->
        {% get_nav_links as nav_links %}
        {% for link in nav_links %}
          <li class="nav-item{% if request.path == link.get_absolute_url %} active{% endif %}">
            <a class="nav-link" href="{{ link.get_absolute_url }}">{{ link.title }}</a>
          </li>
        {% endfor %}

        <!--  Mailbox  ------------------------------------------------------->
        <ul class="navbar-nav ml-auto">
          {% if user.is_authenticated %}
            <li class="nav-item{% if request.resolver_match.app_name == 'messaging' %} active{% endif %}">
              <a class="nav-link" href="{% url "messaging:inbox" %}">
                <i class="fas fa-envelope fa-lg"></i>
                <span class="badge badge-pill badge-danger unread-messages-counter{% if not user.mailbox.unread %} d-none{% endif %}">{{ user.mailbox.unread }}</span>
              </a>
            </li>
          {% endif %}
        </ul>

      </ul>
    </div>
  </nav>
{% endblock %}
